<% title 'Wallpapers' %>
<%#
---------------
WALLPAPERS PAGE
---------------
%>

<h5><%= icon('desktop') %> Desktop Wallpapers</h5>

<p>I maintain a special collection of desktop wallpapers. I find wallpapers I like, and I edit them to remove all text and artist signatures. I also often paint out certain elements, make slight modifications, or change some colours. The result is a unique collection of SFW sanitized wallpapers for you to enjoy.</p>

<p>New wallpapers are added every month or two, and I go through and remove old ones I no longer like every six to twelve months. I host the collection using Microsoft OneDrive, so you can subscribe and recieve all the updates automatically, or you can just browse the collection and download the ones you like.</p>

<p><strong>LEGAL DISCLAIMER:</strong> I don't know the artists, and I have not recieved permission to modify the files or remove artist signatures. If you are the creator of a wallpaper in my collection, please contact me if you would like to be credited on this page, or if you would like your artwork to be removed from this collection.</p>

<a href="https://1drv.ms/f/s!Aprp0HiQQEO5glj17STbFbIbW0hB" class="button-square button-red"><%= icon('external-link') %> Click Here to View the Collection</a>

<p>&nbsp;</p>
<%= link_to 'Go Back', root_path, class: 'button' %>
