
/*
---------------------
STYLES FOR BLOG PAGES
---------------------
*/


.blog-single {
  .post-title {
    margin-bottom: 0;
  }
  .date {
    font-size: 1.3rem;
    color: $col-faded-black;
  }
}
