
/*
---------------------
STYLES FOR BLOG PAGES
---------------------
*/


.form-errors {
  color: $col-error-red;
  li {
    list-style-type: none;
  }
}

.blog-single {
  .post-title {
    margin-bottom: 0;
  }
  .date {
    font-size: 1rem;
    color: $col-faded-black;
  }
}
