
/*
--------------------
STYLES FOR HOME PAGE
--------------------
*/

.home-section-wrapper {
  @include full-width;
}

.home-section {
  padding: 15px 0;
}


#introduction-wrapper {
  margin-top: -40px;
  background-color: $col-blue-dark;
  color: $col-offwhite;
  margin-bottom: 40px;
}

#introduction {
  padding: 25px 0;
  text-align: center;

  #tristen {
    display: inline-block;
    border-radius: 50%;
    width: 200px;
    height: auto;
    border: 5px solid $col-red;
    margin: 0 80px 10px 0;
    vertical-align: top;
  }

  #blurb {
    display: inline-block;
    text-align: left;
  }

  a.button-red:hover {
    background-color: $col-offwhite !important;
  }
}
