
/*
--------------------
STYLES FOR HOME PAGE
--------------------
*/

.home-section-wrapper {
  @include full-width;
}

.home-section {
  padding: 25px 0;

  .section-title {
    text-shadow: 0px 1px 2px rgba(black, 0.1);
  }
}

.last-home-section {
  padding: 25px 0 0 0;
  margin-bottom: -10px;
}


#introduction-wrapper {
  margin-top: -40px;
  background-image: url('/images/intro-bg-blur.png');
  background-size: cover;
  background-position: bottom;
  background-color: $col-blue-dark;
  color: $col-offwhite;
  @include hairline-border('bottom', rgba(black, 0.5));
  @include hairline-border('top', rgba(black, 0.5));

  &:hover {
    span.doer {
      color: $col-blue-bright !important;
    }
  }
}

#introduction {
  text-align: center;
  padding: 33px 0 28px 0;

  img#tristen {
    display: inline-block;
    border-radius: 50%;
    width: 200px;
    max-width: 70%;
    height: auto;
    border: 3px solid $col-red;
    margin: 0 40px 30px 40px;
    vertical-align: top;
    box-shadow: 0px 0px 40px rgba(white, 0.1);
    @include global-transition;

    &:hover {
      border-color: $col-offwhite;
      cursor: none;
      box-shadow: 0px 0px 40px rgba(white, 0.2);
    }
  }

  #blurb {
    display: inline-block;
    text-align: left;
    margin: 0 40px;

    .highlight {
      text-shadow: 0px 0px 5px rgba(white, 0.4), 0px 3px 2px rgba(black, 0.9);
    }

    span.doer {
      color: $col-blue-light;
      padding-right: 5px;
      @include slow-transition;
    }

    a, a:link {
      color: $col-blue-light;
    }
    a:hover {
      color: $col-pink-hot;
    }

    #email-button {
      margin-top: 40px;
      button:hover {
        text-shadow: none;
        background-color: $col-offwhite !important;
      }
    }
  }
}


#stuff {
  padding: 40px 0 0 0;

  .section-title {
    margin-bottom: 30px;
  }
}


#websites {
  .section-title {
    margin-bottom: 15px;
  }
  td {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}


#blog-home-wrapper {
  margin-bottom: -80px;
  background-color: $col-blue-light;
  @include hairline-border('top', rgba($col-offblack, 0.3));
  @include hairline-border('bottom', rgba($col-offwhite, 0.2));
}

#blog-home {
  padding-bottom: 60px;
  color: $col-offwhite;
  font-size: 1.8rem;

  a, a:link {
    color: $col-blue-darker;
  }
  a:hover {
    color: $col-offwhite;
  }

  tr:last-child {
    td {
      border-bottom-width: 0;
    }
  }

  td {
    border-color: $col-offwhite;

    a {
      padding: 10px 20px 10px 0;
    }
  }

  div.pagination {
    span, em, a {
      color: $col-offwhite;
      border-color: $col-blue-light;
      background-color: $col-blue-dark;
    }
    a:hover {
      color: $col-blue-light;
    }
    .disabled, .current {
      color: $col-blue-light;
      background-color: $col-blue;
      cursor: default;
    }
  }
}

div#weblog {
  // for tweaking anchor position of blog section
  height: 60px;
}
