
/*
---------------------
STYLES FOR USER PAGES
---------------------
*/


img.gravatar {
  border-radius: 50%;
}

#edit-gravatar {
  margin-bottom: 20px;
}

.users-single {
  #posts {
    margin-top: 40px;

    a, a:link {
      font-weight: bold;
      padding: 10px 20px 10px 0;
    }
  }
}
