
<%#
-------------------
ALL BLOG POSTS PAGE
-------------------
%>

<div id="content-blog-all">

  <div id="blog-controls-wrapper">
    <div id="blog-controls">
      <%= link_to '+ New Post', new_article_path, :class => 'button' %>
    </div>
  </div>

  <table class="u-full-width">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |a| %>
        <tr>
          <td><%= link_to a.title, article_path(a) %></td>
          <td><%= a.created_at.strftime("%d %b %Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
