<% title 'New User Signup' %>
<%#
----------------
USER SIGNUP PAGE
----------------
%>

<div id="content-users" class="users-new">

  <h5>Register a new user account.</h5>

  <%= render 'form' %>

</div>
