<% title @user.name, true %>
<%#
----------------
SINGLE USER PAGE
----------------
%>

<div id="content-users" class="users-single">

  <%= gravatar_for @user %>
  <p><%= @user.name %></p>

  <% if logged_in? %>
    <%= link_to 'Edit Profile', edit_user_path(current_user), class: 'button' %>
  <% end %>

</div>
