
<%#
---------
HOME PAGE
---------
%>

<div id="content-home">

  <h4>Home Page</h4>

  <p>Tristen Unrau's boilerplate blog website.</p>

  <p><strong>Features:</strong></p>
  <ul>
    <li>Ruby on Rails MVC framework</li>
    <li>Skeleton CSS framework</li>
    <li>Markdown support</li>
    <li>Font-Awesome icons</li>
    <li>Robust built-in authentication</li>
    <li>Administrator and Contributor user types</li>
  </ul>

</div>
