
/*
-----------
BASE STYLES
-----------
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: $col-offwhite;
  color: $col-offblack;
}

#rails-debug {
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.2);
  padding: 20px;
  margin-top: 60px;
}

.flash-message {
  margin-bottom: 20px;
}

.flash-success {
  color: $col-success-green;
}
.form-errors,
.flash-danger {
  color: $col-error-red;
  li {
    list-style-type: none;
  }
}

.pagination {
  span, a, em.current {
    border: 1px solid #bbbbbb;
    padding: 5px 14px;
    margin-right: -5px;
    text-decoration: none;
    line-height: 2.2em;
  }
  a:hover {
    background-color: rgba(0,0,0,0.1);
  }
  .previous_page {
    border-radius: 5px 0 0 5px;
  }
  .next_page {
    border-radius: 0 5px 5px 0;
  }
}
