
/*
-----------
BASE STYLES
-----------
*/


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: #1b1818;
  color: $col-offblack;
  font-family: 'Source Sans Pro', serif;
}

.button-square {
  @include square-button;
  font-size: 1.3rem;
  font-weight: normal;
}
.button-red {
  background-color: $col-pink-hot !important;
  color: $col-offwhite !important;
  &:hover {
    background-color: $col-blue-dark !important;
    color: $col-pink-hot !important;
  }
}
.button-black {
  background-color: $col-offblack !important;
  color: $col-faded-black !important;
  &:hover {
    color: $col-red !important;
  }
}

a, a:link {
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  color: $col-pink-hot;
  &:hover {
    color: $col-blue-dark;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo 2', serif;
  text-transform: uppercase;
}

blockquote {
  background-color: $col-offblack;
  color: $col-offwhite;
  border-left: 4px solid $col-pink-hot;
  padding: 17px 20px 7px 20px;
  box-shadow: inset 33px 0px 72px 3px $col-blue-dark;
}

img {
  vertical-align: top;
}

#rails-debug {
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.2);
  padding: 20px;
  margin-top: 60px;
}

.flash-message {
  margin-bottom: 20px;
}

.flash-success {
  color: $col-success-green;
}
.form-errors,
.flash-danger {
  color: $col-error-red;
  li {
    list-style-type: none;
  }
}

.pagination {
  span, a, em.current {
    border: 1px solid #bbbbbb;
    padding: 5px 14px;
    margin-right: -5px;
    text-decoration: none;
    line-height: 2.2em;
  }
  a:hover {
    background-color: rgba(0,0,0,0.1);
  }
  .previous_page {
    border-radius: 5px 0 0 5px;
  }
  .next_page {
    border-radius: 0 5px 5px 0;
  }
}

.form-extras {
  font-size: 1rem;
  color: $col-faded-black;
}

.clearfix {
  /* Fancy Clearfix courtesy of Twitter Bootstrap */
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
    &:after {
      clear: both
    }
  }
}

// Maintain 16:9 aspect ratio for youtube iframes
div.youtube {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.col-red {
  color: $col-red;
}
.col-pink-hot {
  color: $col-pink-hot;
}

#main-wrapper {
  @include main-wrapper;
}

i.fa {
  margin-right: 6px;
}
