
/*
-----------------------------
HEADER, MENU, & FOOTER STYLES
-----------------------------
*/


#header {
  margin-top: 20px;
  text-align: center;
  color: $col-offwhite;
  text-shadow: 2px 2px 5px #f62a2a;
}


#menu-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}
#menu-wrapper {
  padding: 20px 0;
  background-color: $col-pink-hot;
  @include full-width;
  @include hairline-border('bottom', rgba($col-offwhite, 0.2));
}
#menu {
  @include no-soggy-bottom-titles;
  text-align: center;

  ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
  }
  a {
    color: $col-offwhite;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Exo 2', serif;
    font-weight: bold;
    font-size: 2rem;
    padding: 10px;
    &:hover {
      color: $col-blue-dark;
    }
  }
}


#content-wrapper {
  background-color: $col-offwhite;
  @include full-width;
}
#content {
  padding: 40px 0 80px 0;

  .button-row {
    ul li {
      display: inline-block;
      list-style-type: none;
      margin-right: 10px;
      margin-bottom: 30px;
    }
  }
}


#footer-wrapper {
  @include full-width;
  box-shadow: inset 0px 10px 0px -1px rgba(0,0,0,0.4);
}
#footer {
  @include no-soggy-bottom-titles;
  padding: 30px 0;
  color: $col-blue;
  #admin-menu-wrapper {
    margin-top: 30px;
  }
  #admin-menu {
    ul li {
      display: inline-block;
      list-style-type: none;
      margin-right: 7px;
    }
  }
}
