
/*
-----------------------------
HEADER, MENU, & FOOTER STYLES
-----------------------------
*/


#header {
  margin-top: 30px;

  img#logo {
    width: 400px;
    height: auto;
    margin-left: -70px;
  }
}


#menu-wrapper {
  padding: 20px 0;
  background-color: $col-pink-hot;
  @include full-width;
}
#menu {
  @include no-soggy-bottom-titles;

  ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 20px 0 0;
  }
  a {
    color: $col-offwhite;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Exo 2', serif;
    font-weight: bold;
    font-size: 2rem;
    &:hover {
      color: $col-blue-dark;
    }
  }
}


#content-wrapper {
  background-color: $col-offwhite;
  @include full-width;
}
#content {
  padding: 40px 0 80px 0;

  .button-row {
    ul li {
      display: inline-block;
      list-style-type: none;
      margin-right: 10px;
    }
  }
}


#footer-wrapper {
  @include full-width;
  box-shadow: inset 0px 10px 0px -1px rgba(0,0,0,0.4);
}
#footer {
  @include no-soggy-bottom-titles;
  padding: 20px 0;
  color: $col-blue;
  #admin-menu-wrapper {
    margin-top: 17px;
  }
  #admin-menu {
    ul li {
      display: inline-block;
      list-style-type: none;
      margin-right: 7px;
    }
  }
}
