
/*
------
MIXINS
------
*/


@mixin main-wrapper {
  width: 80%;
  margin: 0 auto;
}

@mixin full-width {
  // Allow element to fill the full width of the
  // viewport without breaking from the layout
  width: 100vw;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  & > * {
    // Allow content inside full-width
    // element to maintain its behaviour
    @include main-wrapper;
  }
}

@mixin square-button {
  font-family: 'Exo 2', sans-serif;
  padding: 6px 10px;
  border-top: 4px solid rgba(0,0,0,0.1);
  border-left: 4px solid rgba(0,0,0,0.5);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0;
}

@mixin linear-gradient-v($top, $bottom){
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='$bottom',GradientType=0 ); /* IE6-9 */
}

@mixin background-image($file, $width, $height, $positionX: left, $positionY: top, $background-repeat: no-repeat) {
  background-image: image-url($file);
  background-size: $width $height;
  width: $width;
  height: $height;
  background-position: $positionX $positionY;
  background-repeat: $background-repeat;
}

@mixin no-soggy-bottom-titles {
  h1, h2, h3, h4, h5, h6, p, title, label, ul, li {
    margin-bottom: 0;
  }
}
