
/*
---------
VARIABLES
---------
*/


// COLOURS

$col-offblack:      #1b1818;
$col-offwhite:      #f9f1f3;
$col-pink:          #fa8484;
$col-pink-hot:      #f74848;
$col-red:           #f62a2a;
$col-purple-light:  #aa4fde;
$col-blue-dark:     #1f2d49;
$col-blue:          #405172;
$col-faded-black:   #474747;
$col-error-red:     #910d0d;
$col-success-green: #1d910d;


// MEDIA QUERIES

$media-desktop-hd: 1200px;
$media-desktop: 1000px;
$media-tablet: 750px;
$media-phablet: 550px;
$media-mobile: 400px;
